<html>
<head>
    <title>blog-htmx - Made with Go & htmx</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <button hx-post="posts/post_1"
         hx-trigger="click"
         hx-target="#article"
         hx-swap="innerHTML">
        Post 1
    </button>
    <button hx-post="posts/post_2"
            hx-trigger="click"
            hx-target="#article"
            hx-swap="innerHTML">
        Post 2
    </button>
    <button hx-post="guides/guide_1"
            hx-trigger="click"
            hx-target="#article"
            hx-swap="innerHTML">
        Guide 3
    </button>
    <div id="article">
        Articulo default
    </div>
    <script src="../static/htmx.min.js"></script>
</body>
</html>
